.App{
  /* background-image: url('https://previews.123rf.com/images/marinamandarina/marinamandarina1707/marinamandarina170700133/82588499-patr%C3%B3n-de-comida-r%C3%A1pida-puede-ser-utilizado-para-textil-fondo-del-sitio-web-portada-del-libro-embala.jpg'); */
  background-attachment:fixed ;
  background-size: cover;
  width: 1800px;
  height: 1000px;
}

